body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #e0e0e0;
}
.cardbox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    perspective: 1000px;
}
.cardbox .card{
    position: relative;
    width: 525px;
    height: 300px;
    background: #262626;
    transform-style: preserve-3d;
    transition: 1s ease;
}
.cardbox .card .card-front,
.cardbox .card .card-back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.cardbox .card .card-front{
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background: #262626;
    color: #fff;
    overflow: hidden;
}
.cardbox .card .card-front .content{
    text-align: center;
}
.cardbox .card .card-front img{
    width: 100px;
    height: 100px;
} 
.cardbox .card .card-front h3{
    margin: 20px 0 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
}
.cardbox .card .card-back{
    background: #fff;
    color: #262626;
}
.cardbox .card .card-back .content{
    position: relative;
    height: 100%;
    width: 100%;
}
.cardbox .card .card-back .content .logo{
    padding: 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardbox .card .card-back .content .logo img{
    width: 80px;
    height: 80px;
    padding-right: 20px;
    border-right: 1px solid #262626;
}
.cardbox .card .card-back .content .logo h2{
    margin: 0;
    padding: 0;
    padding-left: 20px;
    text-transform: uppercase;
}
.cardbox .card .card-back .content ul{
    position: absolute;
    width: 100%;
    height: 150px;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 20px 40px;
    box-sizing: border-box;
    background: #262626;
    border-top: 10px solid #FC2827;
}
.cardbox .card .card-back .content ul li{
    list-style: none;
    color:#fff;
    padding: 6px 0;
    font-size: 16px;
    text-transform: uppercase;
}
.cardbox .card .card-back .content ul li span:nth-child(1){
    width: 20px;
    display: inline-block;
}
.cardbox:hover .card{
    transform: rotateY(180deg);
}
.cardbox .card .card-back{
    transform: rotateY(180deg);
}