body{
    margin: 0;
    padding: 0;
}
section{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg,#3f51b5,#00bcd4);
    animation:animate 20s linear infinite; 
}
@keyframes animate{
    0%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
    100%{
        filter: hue-rotate(0deg);
    }
}
section:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 50vh solid transparent;
    border-left: 50vh solid #fff;
    opacity: 0.1;
    transform: rotate(45deg);
    margin-left: 51%;
    margin-top: 10%;
}
section:after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border-top: 50vh solid transparent;
    border-right: 50vh solid #fff;
    opacity: 0.1;
    margin-right: 22%;
    margin-bottom: 17.5%;
    transform: rotate(-45deg);
}