*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 10em;
    height: 10em;
}
body{
    font-family: sans-serif;
}
nav{
    height: 10vh;
    background: #5b77c7;
}
.nav-links{
    display: flex;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
} 
.nav-links li a{
    color: white;
    text-decoration: none;
}
.land{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.land h1{
    margin: 100px;
    font-size: 50px;
    color: #ae5fce;
}
@media screen and (max-width:769px){
    .line{
        width: 30px;
        height: 3px;
        background: white;
        margin: 5px;
    }
    nav{
        position: relative;
    }
    .hamburger{
        position: absolute;
        cursor: pointer;
        right: 5%;
        top: 50%;
        transform: translate(-5%,-50%);
        z-index: 1;
    }
    .nav-links{
        position: fixed;
        background: #5b77c7;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -10%);
        -webkit-clip-path: circle(100px at 90% -10%);
        transition: all 1s ease-out;
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .land{
        flex-direction: column;
    }
    .nav-links li{
        opacity: 0;
    } 
    .nav-links li a{
        font-size: 25px;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;  
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;        
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.8s;        
    }
    li.fade{
        opacity: 1;
    }
}