* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  height: 100px;
  background: #34495e;
  padding: 0 20px;
  color: #fff;
}
.header .logo {
  line-height: 100px;
  float: left;
  text-transform: uppercase;
}
.header .show-menu-btn {
  float: right;
}
.header .show-menu-btn i {
  line-height: 100px;
}
.header .menu {
  float: right;
  line-height: 100px;
}
.header .menu a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
  transition: 0.4s;
}
.header .show-menu-btn, .header .hide-menu-btn {
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.header .menu a:hover,
.header .show-menu-btn:hover,
.header .hide-menu-btn:hover {
  color: #3498db;
}
.header #chk {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.content {
  padding: 0 20px;
}
.content img {
  width: 100%;
  max-width: 700px;
  margin: 20px 0;
}
.content p {
  text-align: justify;
}

@media screen and (max-width: 780px) {
  .header .show-menu-btn, .header .hide-menu-btn {
    display: block;
  }
  .header .menu {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  .header .menu a {
    display: block;
    padding: 20px;
  }
  .header .menu .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
  }
  .header #chk:checked ~ .menu {
    right: 0;
  }
}

/*# sourceMappingURL=res.css.map */
