body{
    margin: 0;
    padding: 0;
}
section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000000de, #000000de),url(bh.jpg)
}
section div{
    max-width: 800px;
    font-family: 'Courier New', Courier, monospace;
}
section div h2{
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3em;
}
section div p{
    color: #fff;
    font-size: 1.2em;
    opacity: .5;
}
.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.scrolldown span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: 0.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: 0.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: 0s;
}
@keyframes animate{
    0%{
        top: -5%;
        left: -5%;
        opacity: 0;
    }
    25%{
        top: 0;
        left: 0;
        opacity: 1;
    }
    50%,100%{
        top: 5%;
        left: 5%;
        opacity: 0;
    }
}