body{
    font-family: arial;
    margin:0; 
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(3, 100%);
}
section{
    padding: 7em;
    height: calc(100vh - 14em);
    width: calc(100% - 14em);
    color: white;
    scroll-snap-align: start;


    
    &:nth-child(1){
        background: rgb(96,175,21);
    }
    &:nth-child(2){
        background: rgb(21,139,175);
    }
    &:nth-child(3){
        background: rgb(175,21,129);
    }

    h3{
        font-size: 3em;
    }

    p{
        font-size: 1.2em;
    }
}