body {
  font-family: arial;
  margin: 0;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: grid;
  grid-template-columns: repeat(3, 100%);
}

section {
  padding: 7em;
  height: calc(100vh - 14em);
  width: calc(100% - 14em);
  color: white;
  scroll-snap-align: start;
}
section:nth-child(1) {
  background: #60af15;
}
section:nth-child(2) {
  background: #158baf;
}
section:nth-child(3) {
  background: #af1581;
}
section h3 {
  font-size: 3em;
}
section p {
  font-size: 1.2em;
}

/*# sourceMappingURL=snap2.css.map */
