//variables

$primary-color:red;
$secondarycolor:grey;
header{
    background: $primary-color;
}
footer{
    background: $secondarycolor;
}
ul{
    li{
     a{
         background: $secondarycolor;
         color: $primary-color;
     }   
    }
}