body{
    margin: 0;
    padding: 0;
    background: #708d00;
}
.card{
    width: 300px;
    height: 400px;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) perspective(2000px);
    transform-style: preserve-3d;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0,.5), 0 20px 100px rgba(0, 0, 0,.5);
    transition: 1s;
}
.card:hover{
    transform: translate(-50%,-50%) perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0,.5), 0 10px 100px rgba(0, 0, 0,.5);
    transition: 1s;
}
.card:before{
    content: '';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #475b02;
    transform-origin: bottom;
    transform: skewX(-45deg)
}
.card:after{
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #7ea301;
    transform-origin: left;
    transform: skewY(-45deg)
}
img{
    width: 300px;
    height: 400px;
}
.card  .imgbox{
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s cubic-bezier(.15,1.7,.84,.58);
    z-index: 1;
}
.card:hover .imgbox{
    transform: rotateY(-135deg);
}
.card .details{
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
}
@media (max-width:780px){
    .card{
        width: 200px;
        height: 400px;
        position: absolute;
        background: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) perspective(2000px);
        transform-style: preserve-3d;
        box-shadow: inset 300px 0 50px rgba(0, 0, 0,.5), 0 20px 100px rgba(0, 0, 0,.5);
        transition: 1s;
    }
    .card  .imgbox{
        width: 50%;
        height: 50%;
        position: relative;
        transform-origin: left;
        transition: 1s cubic-bezier(.15,1.7,.84,.58);
        z-index: 1;
    }
    img{
        width: 200px;
        height: 400px;
    }
    .card:hover .imgbox{
        transform: rotateY(-90deg);
    }
}