*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
}
.wrapper{
   
    width: 960px;
}
.reset{
    display: grid;
    grid-template-columns: repeat(4, 230px);
    grid-gap: 10px;
    list-style: none;
   

}
img{
    width: 100%;
    height: 230px;
}

li{
    transition: .3s;
   
}

li:hover{
    animation: animate 1s ease-out forwards;
   
}
@keyframes animate{
    0%{
        transform: scale(1) rotate(0deg);
    }
    5%{
        clip-path: polygon(25% 0,75% 0%,100% 25%,100% 75%,75% 100%,25% 100%,0 75%,0 25%);
       -webkit-clip-path: polygon(25% 0,75% 0%,100% 25%,100% 75%,75% 100%,25% 100%,0 75%,0 25%); 
    }
    10%{
        transform: scale(1.2) rotate(420deg);
    }
    50%{
        transform: scale(1.4) rotate(330deg);
    }
    70%{
        transform: scale(1.5) rotate(390deg);
        clip-path: polygon(0 15%,10% 0%,90% 0,100% 5%,100% 85%,95% 100%,15% 100%,0 95%, 0 15%);
        -webkit-clip-path: polygon(0 15%,10% 0%,90% 0,100% 5%,100% 85%,95% 100%,15% 100%,0 95%, 0 15%);
    }
    80%{ 
        transform: scale(1.6) rotate(345deg);
        clip-path: polygon(5% 0,94% 0,100% 50%,94% 100%,43% 100%,4% 96%,0 39%,0 36%);
        -webkit-clip-path: polygon(5% 0,94% 0,100% 50%,94% 100%,43% 100%,4% 96%,0 39%,0 36%);
    }
    90%{
        transform: scale(1.7) rotate(370deg);
        clip-path: polygon(4% 1%,96% 0,100% 50%,97% 100%,43% 100%,3% 100%,0 49%,0 49%);
        -webkit-clip-path: polygon(4% 1%,96% 0,100% 50%,97% 100%,43% 100%,3% 100%,0 49%,0 49%);
    }
    100%{
        transform: scale(1.7) rotate(360deg);
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
        -webkit-clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    }
}
/* second device animate2 */
@keyframes animate2{
    0%{
        transform: scale(1) rotate(0deg);
    }
    5%{
        clip-path: polygon(25% 0,75% 0%,100% 25%,100% 75%,75% 100%,25% 100%,0 75%,0 25%);
       -webkit-clip-path: polygon(25% 0,75% 0%,100% 25%,100% 75%,75% 100%,25% 100%,0 75%,0 25%); 
    }
    10%{
        transform:  rotate(420deg);
    }
    50%{
        transform:  rotate(330deg);
    }
    70%{
        transform:  rotate(390deg);
        clip-path: polygon(0 15%,10% 0%,90% 0,100% 5%,100% 85%,95% 100%,15% 100%,0 95%, 0 15%);
        -webkit-clip-path: polygon(0 15%,10% 0%,90% 0,100% 5%,100% 85%,95% 100%,15% 100%,0 95%, 0 15%);
    }
    80%{ 
        transform:  rotate(345deg);
        clip-path: polygon(5% 0,94% 0,100% 50%,94% 100%,43% 100%,4% 96%,0 39%,0 36%);
        -webkit-clip-path: polygon(5% 0,94% 0,100% 50%,94% 100%,43% 100%,4% 96%,0 39%,0 36%);
    }
    90%{
        transform:  rotate(370deg);
        clip-path: polygon(4% 1%,96% 0,100% 50%,97% 100%,43% 100%,3% 100%,0 49%,0 49%);
        -webkit-clip-path: polygon(4% 1%,96% 0,100% 50%,97% 100%,43% 100%,3% 100%,0 49%,0 49%);
    }
    100%{
        transform:scale(1.5)  rotate(360deg);
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
        -webkit-clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    }
}
/* 3rd animation  */
@keyframes animate3{
    0%{
        transform: scale(1) rotate(0deg);
    }
    5%{
        clip-path: polygon(25% 0,75% 0%,100% 25%,100% 75%,75% 100%,25% 100%,0 75%,0 25%);
       -webkit-clip-path: polygon(25% 0,75% 0%,100% 25%,100% 75%,75% 100%,25% 100%,0 75%,0 25%); 
    }
    10%{
        transform:  rotate(420deg);
    }
    50%{
        transform:  rotate(330deg);
    }
    70%{
        transform:  rotate(390deg);
        clip-path: polygon(0 15%,10% 0%,90% 0,100% 5%,100% 85%,95% 100%,15% 100%,0 95%, 0 15%);
        -webkit-clip-path: polygon(0 15%,10% 0%,90% 0,100% 5%,100% 85%,95% 100%,15% 100%,0 95%, 0 15%);
    }
    80%{ 
        transform:  rotate(345deg);
        clip-path: polygon(5% 0,94% 0,100% 50%,94% 100%,43% 100%,4% 96%,0 39%,0 36%);
        -webkit-clip-path: polygon(5% 0,94% 0,100% 50%,94% 100%,43% 100%,4% 96%,0 39%,0 36%);
    }
    90%{
        transform:  rotate(370deg);
        clip-path: polygon(4% 1%,96% 0,100% 50%,97% 100%,43% 100%,3% 100%,0 49%,0 49%);
        -webkit-clip-path: polygon(4% 1%,96% 0,100% 50%,97% 100%,43% 100%,3% 100%,0 49%,0 49%);
    }
    100%{
        transform:scale(1.2)  rotate(360deg);
        clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
        -webkit-clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
    }
}

@media(max-width:1000px){
    .reset{
        grid-template-columns: 230px 230px;
        justify-content: center;
        align-items: center;
    }
    li:hover{
        animation: animate2 1s ease-out forwards;
    }
}
@media(max-width:523px){
    .reset{
        grid-template-columns: 270px;
        justify-items: center;
        align-items: center;
    }
    img{
        height: 370px;
    }
    li:hover{
        animation: animate3 1s ease-out forwards;
    }
}
